
*, ::before, ::after{
    box-sizing: border-box;
}

.brand {
    font-family: forte;
    font-size: 2rem;
}
body {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-areas: 'header header' 'main aside';
    gap: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    grid-area: main;
    background-color: orange;
    padding: 1% 5%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 6fr 2fr;
    gap: 5px;
}
aside{
    grid-area: aside;
    padding: 0% 5%;
    display: flex;
    flex-direction: column;
    row-gap: 10%;
}

header {
    grid-area: header;
    padding: 0% 5%;
    background-color: white;
    color: orange;
    border-radius: 20px;
}

div#items{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

#pointer-wrapper {
    position: relative;
}

main div div#pointer{
    background-color: rgb(75, 0, 130);
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 50% 0% 0% 50%;
    text-align: right;
    transition: all 0.3s linear;
    position: absolute;
    z-index: 2;
    box-shadow: 1px -2px 5px 3px white;
}

article.image-wrapper{
    background-color: white;
    color: orange;
    padding: 5px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 2fr 8fr;
    height: 80px;
    align-content: center;
    transition: all 0.3s ease-in-out;
}

article.image-wrapper img{
    width: 100%;
    height: 60px;
    align-self: center;
    /* aspect-ratio: calc(100%, 100%); */
}

article.image-wrapper h1{
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
    border: 2px solid orange;
    color: black;
    vertical-align: middle;
    animation: spin 1s linear infinite;
    border-radius: 50%;
}

aside hr{
    background-color: white;
}

aside input {
    padding: 10px 20px;
    width: 100%;
}
aside button {
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
}

aside #score-wrapper h1{
    font-size: 3rem;
    font-family: algerians;
    color: orange;
}

@keyframes spin {
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.modal {
    position: fixed;
    z-index: 3;
    margin: auto;
    padding: 30px;
    color: white;
    background-color: indigo;
    width: 50%;
    left: 25%;
    right: 25%;
    top: 50%;
    border-radius: 20px;
    text-align: center;
    visibility: hidden;
    transition: all 0.3s linear; 
}

#display-wrapper {
    font-family: forte;
}