main {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    padding: auto;
}

form{
    padding: 40px;
    color: black;
    margin: auto;
    background-color: white;
}
main h1{
    color: white;
    font-family: forte;
    text-align: center;
}


form div label {
    display: block;
}

form div{
    margin: 20px 0px;
}

input{
    width: 100%;
}

#preview-wrapper {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    min-height: 100px;
    background-color:  white;
}

#preview-wrapper img{
    width: 100%;
    height: 80px;
}